<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common :: copyCommon"></head>
<link rel="stylesheet" href="../static/css/index/index.css" th:href="@{/css/index/index.css}" type="text/css" />
<script type="text/javascript" src="../static/js/index/index.js" th:src="@{/js/index/index.js}"></script>
<script type="text/javascript" src="../static/common/supermap/libs/SuperMap.Include.js" th:src="@{/common/supermap/libs/SuperMap.Include.js}"></script>
<body class="body">
	<div class="div1">
		<div class="div1_1"></div>
		<div class="div1_2">
			<div class="div1_2_1">
				<li id="table">table</li>
				<li id="table2">table2</li>
				<li id="map">map</li>
			</div>
			<div class="div1_2_2"></div>
			<div class="div1_2_3"></div>
		</div>
		<div class="div1_3"></div>
	</div>
</body>

</html>
