<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="copyCommon">
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		
		<link rel="stylesheet" href="../static/common/lygrid/ace/assets/css/bootstrap.css" th:href="@{/common/lygrid/ace/assets/css/bootstrap.css}" type="text/css" />
		<link rel="stylesheet" href="../static/common/lygrid/ace/assets/css/font-awesome.css" th:href="@{/common/lygrid/ace/assets/css/font-awesome.css}" type="text/css" />
		<link rel="stylesheet" href="../static/common/lygrid/ace/assets/css/ace.css" th:href="@{/common/lygrid/ace/assets/css/ace.css}" type="text/css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="../static/common/lygrid/css/plugins/iCheck/custom.css" th:href="@{/common/lygrid/css/plugins/iCheck/custom.css}" type="text/css" >
		
		<script type="text/javascript" src="../static/common/jquery/jquery-3.4.1.js" th:src="@{/common/jquery/jquery-3.4.1.js}"></script>
		<script type="text/javascript" src="../static/common/jquery/jquery-3.4.1.min.js" th:src="@{/common/jquery/jquery-3.4.1.min.js}"></script>
		
		<script type="text/javascript" src="../static/common/lygrid/js/layer-v3.1.1/layer/layer.js" th:src="@{/common/lygrid/js/layer-v3.1.1/layer/layer.js}"></script>
		<script type="text/javascript" src="../static/common/lygrid/js/iCheck/icheck.min.js" th:src="@{/common/lygrid/js/iCheck/icheck.min.js}"></script>
		<script type="text/javascript" src="../static/common/lygrid/js/commom/CommonUtil.js" th:src="@{/common/lygrid/js/commom/CommonUtil.js}"></script>
		<script type="text/javascript" src="../static/common/lygrid/js/jquery/underscore.js" th:src="@{/common/lygrid/js/jquery/underscore.js}"></script>
		<script type="text/javascript" src="../static/common/lygrid/js/commom/lyGrid.min.js" th:src="@{/common/lygrid/js/commom/lyGrid.min.js}"></script>
		<script type="text/javascript" src="../static/common/lygrid/js/commom/base64.js" th:src="@{/common/lygrid/js/commom/base64.js}"></script>	
		<script type="text/javascript" src="../static/common/lygrid/js/commom/jquery.serializejson.min.js" th:src="@{/common/lygrid/js/commom/jquery.serializejson.min.js}"></script>
	</head>
</html>